<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>JPoweredCart</title>  
	</head>
	
	<body>
	
		<div id="main">
		
			<h2>Data access failure: <span th:text="${exception.message}">There has been an error</span></h2>
			
			<p>
			  <span th:each="st : ${exception.stackTrace}">
				at <span th:text="${st}">a.b.c.MainController.do(MainController:5)</span><br />
			  </span>
			</p>
			
			<br />
			
		</div>
		
	</body>
	
</html>