<!--
Available variables
==========================================================
storeName         - Name of default store
serverUrl         - The server base URL 
url               - URL for resetting password
code              - unique code to verify user via email
email             - user email being sent
ipAddress         - IP address of requester

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<strong th:text="#{text.greeting(${storeName})}"></strong>
		<p th:text="#{text.change}"></p>
		<a th:href="${url}" th:text="${url}"></a>
		<p th:text="#{text.ip(${ipAddress})}"></p>
	</body>
</html>