
*.class

# Package Files #
*.jar
*.war
*.ear

# Backup file
*.*~

.settings/
target/
.classpath
.project
.springBeans


src/test/java/Test.java
bash.exe.stackdump
scratchpad.txt
tmp/

#test image directory
src/main/webapp/files/images/data/test/
#thumbnail image directory
src/main/webapp/files/images/thumbnails
#download directory
src/main/webapp/files/downloads


