<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="/admin :: header"></head>
	<body>
		<div id="container">
			<div th:include="/admin :: content_top"></div>
			<div id="content">
				<div class="breadcrumb">
					<a th:href="@{/admin/common/home}" th:text="#{text.home}">Home</a> ::
					<a th:href="@{/admin/catalog/review}" th:text="#{heading.title}">Country</a>
				</div>
				<div class="warning" th:if="${msg_warning!=null}" th:text="#{${msg_warning}}"></div>
				<div class="success" th:if="${msg_success!=null}" th:text="#{${msg_success}}"></div>
				<div class="box">
					<div class="heading">
						<h1>
							<img th:src="@{/resources/admin/image/review.png}" alt="" />
							<span th:text="#{heading.title}"></span>
						</h1>
						<div class="buttons">
							<a th:href="@{/admin/catalog/review/create}" class="button" th:text="#{button.insert}">Insert</a>
							<a onclick="$('form').submit();" class="button" th:text="#{button.delete}">Delete</a>
						</div>
					</div>
					<div class="content">
						<form th:action="@{/admin/catalog/review/delete}" method="post" id="form">
							<table class="list">
								<thead>
									<tr>
										<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
										<td class="left">
											<a th:href="@{/admin/catalog/review}+'?sort=pd.name&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='pd.name'?param.order[0]:''}" th:text="#{column.product}">Product</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/catalog/review}+'?sort=r.author&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='r.author'?param.order[0]:''}" th:text="#{column.author}">Author</a>
										</td>
										<td class="right">
											<a th:href="@{/admin/catalog/review}+'?sort=r.rating&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='r.rating'?param.order[0]:''}" th:text="#{column.rating}">Rating</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/catalog/review}+'?sort=r.status&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='r.status'?param.order[0]:''}" th:text="#{column.status}">Status</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/catalog/review}+'?sort=r.date_added&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='r.date_added'?param.order[0]:''}" th:text="#{column.dateAdded}">Date Added</a>
										</td>
										<td class="right" th:text="#{column.action}">Action</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="review : ${reviews}">
										<td style="text-align: center;">
											<input type="checkbox" name="selected" th:value="${review.id}" />
										</td>
										<td class="left" th:text="${review.productName}">Apple Cinema 30"</td>
										<td class="left" th:text="${review.author}">Hussachai</td>
										<td class="right" th:text="${review.rating}">3</td>
										<td class="left" th:text="${review.status==1?#messages.msg('text.enabled'):#messages.msg('text.disabled')}">Enabled</td>
										<td class="left" th:text="${#dates.format(review.dateAdded,#messages.msg('date.formatShort'))}">06/02/2013</td>
										<td class="right">
											[ <a th:href="@{/admin/catalog/review/edit/}+${review.id}" th:text="#{text.edit}">Edit</a> ]
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(reviews)}">
										<td class="center" colspan="5" th:text="#{text.noResults}">No results!</td>
									</tr>
								</tbody>
							</table>
						</form>
						<div class="pagination" th:utext="${pagination}"></div>
					</div> <!-- .content -->
				</div> <!-- .box -->
			</div>  <!-- #content -->
		</div> <!-- #container -->
		
		<div id="footer" th:include="/admin :: footer"></div>
		
	</body>
</html>