<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="/admin :: header"></head>
	<body>
		<div id="container">
			<div th:include="/admin :: content_top"></div>
			<div id="content">
				<div class="breadcrumb">
					<a th:href="@{/admin/common/home}" th:text="#{text.home}">Home</a> ::
					<a th:href="@{/admin/localisation/returnStatus}" th:text="#{heading.title}">Return Status</a>
				</div>
				<div class="warning" th:if="${msg_warning!=null}" th:text="#{${msg_warning}}"></div>
				<div class="success" th:if="${msg_success!=null}" th:text="#{${msg_success}}"></div>
				<div class="box">
					<div class="heading">
						<h1>
							<img th:src="@{/resources/admin/image/order.png}" alt="" />
							<span th:text="#{heading.title}"></span>
						</h1>
						<div class="buttons">
							<a th:href="@{/admin/localisation/returnStatus/create}" class="button" th:text="#{button.insert}">Insert</a>
							<a onclick="$('form').submit();" class="button" th:text="#{button.delete}">Delete</a>
						</div>
					</div>
					<div class="content">
						<form th:action="@{/admin/localisation/returnStatus/delete}" method="post" id="form">
							<table class="list">
								<thead>
									<tr>
										<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
										<td class="left">
											<a th:href="@{/admin/localisation/returnStatus}+'?sort=name&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='name'?param.order[0]:''}" th:text="#{column.name}">Return Status Name</a>
										</td>
										<td class="right" th:text="#{column.action}">Action</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="returnStatus : ${returnStatuses}">
										<td style="text-align: center;">
											<input type="checkbox" name="selected" th:value="${returnStatus.id}" />
										</td>
										<td class="left">
											<span th:text="${returnStatus.name}">Out Of Return</span>
											<span th:if="${returnStatus.id==defaultReturnStatusId}" th:utext="#{text.default}">(Default)</span>
										</td>
										<td class="right">
											[ <a th:href="@{/admin/localisation/returnStatus/edit/}+${returnStatus.id}" th:text="#{text.edit}">Edit</a> ]
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(returnStatuses)}">
										<td class="center" colspan="5" th:text="#{text.noResults}">No results!</td>
									</tr>
								</tbody>
							</table>
						</form>
						<div class="pagination" th:utext="${pagination}"></div>
					</div> <!-- .content -->
				</div> <!-- .box -->
			</div>  <!-- #content -->
		</div> <!-- #container -->
		
		<div id="footer" th:include="/admin :: footer"></div>
		
	</body>
</html>