<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="/admin :: header"></head>
	<body>
		<div id="container">
			<div th:include="/admin :: content_top"></div>
			<div id="content">
				<div class="breadcrumb">
					<a th:href="@{/admin/common/home}" th:text="#{text.home}">Home</a> ::
					<a th:href="@{/admin/localisation/taxRate}" th:text="#{heading.title}">Tax Class</a>
				</div>
				<div class="warning" th:if="${msg_warning!=null}" th:text="#{${msg_warning}}"></div>
				<div class="success" th:if="${msg_success!=null}" th:text="#{${msg_success}}"></div>
				<div class="box">
					<div class="heading">
						<h1>
							<img th:src="@{/resources/admin/image/tax.png}" alt="" />
							<span th:text="#{heading.title}"></span>
						</h1>
						<div class="buttons">
							<a th:href="@{/admin/localisation/taxRate/create}" class="button" th:text="#{button.insert}">Insert</a>
							<a onclick="$('form').submit();" class="button" th:text="#{button.delete}">Delete</a>
						</div>
					</div>
					<div class="content">
						<form th:action="@{/admin/localisation/taxRate/delete}" method="post" id="form">
							<table class="list">
								<thead>
									<tr>
										<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
										<td class="left">
											<a th:href="@{/admin/localisation/taxRate}+'?sort=tr.name&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='tr.name'?param.order[0]:''}" th:text="#{column.name}">Tax Name</a>
										</td>
										<td class="right">
											<a th:href="@{/admin/localisation/taxRate}+'?sort=tr.rate&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='tr.rate'?param.order[0]:''}" th:text="#{column.rate}">Tax Rate</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/localisation/taxRate}+'?sort=tr.type&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='tr.type'?param.order[0]:''}" th:text="#{column.type}">Type</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/localisation/taxRate}+'?sort=gz.name&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='gz.name'?param.order[0]:''}" th:text="#{column.geoZone}">Geo Zone</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/localisation/taxRate}+'?sort=tr.date_added&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='tr.date_added'?param.order[0]:''}" th:text="#{column.dateAdded}">Date Added</a>
										</td>
										<td class="left">
											<a th:href="@{/admin/localisation/taxRate}+'?sort=tr.date_modified&amp;order='+${param.order!=null and param.order[0]=='asc'?'desc':'asc'}" 
												th:class="${param.sort!=null and param.sort[0]=='tr.date_modified'?param.order[0]:''}" th:text="#{column.dateModified}">Date Modified</a>
										</td>
										<td class="right" th:text="#{column.action}">Action</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="taxRate : ${taxRates}">
										<td style="text-align: center;">
											<input type="checkbox" name="selected" th:value="${taxRate.id}" />
										</td>
										<td class="left" th:text="${taxRate.name}">VAT (17.5%)</td>
										<td class="right" th:text="${taxRate.rate}">17.5000</td>
										<td class="left" th:text="#{${taxRate.type=='F'?'text.amount':'text.percent'}}">Percentage</td>
										<td class="left" th:text="${taxRate.geoZone}">UK VAT Zone</td>
										<td class="left" th:text="${#dates.format(taxRate.dateAdded, #messages.msg('date.formatShort'))}">09/03/2011</td>
										<td class="left" th:text="${#dates.format(taxRate.dateModified, #messages.msg('date.formatShort'))}">22/09/2011</td>
										<td class="right">
											[ <a th:href="@{/admin/localisation/taxRate/edit/}+${taxRate.id}" th:text="#{text.edit}">Edit</a> ]
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(taxRates)}">
										<td class="center" colspan="8" th:text="#{text.noResults}">No results!</td>
									</tr>
								</tbody>
							</table>
						</form>
						<div class="pagination" th:utext="${pagination}"></div>
					</div> <!-- .content -->
				</div> <!-- .box -->
			</div>  <!-- #content -->
		</div> <!-- #container -->
		
		<div id="footer" th:include="/admin :: footer"></div>
		
	</body>
</html>