<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="/admin :: header"></head>
	<body>
		<div id="container">
			<div th:include="/admin :: content_top"></div>
			<div id="content">
				<div class="breadcrumb">
					<a th:href="@{/admin/common/home}" th:text="#{text.home}">Home</a> ::
					<a th:href="@{/admin/sale/voucherTheme}" th:text="#{heading.title}">Voucher Themes</a>
				</div>
				<div class="warning" th:if="${msg_warning!=null}" th:text="#{${msg_warning}}"></div>
				<div class="box">
					<div class="heading">
						<h1>
							<img th:src="@{/resources/admin/image/payment.png}" alt="" />
							<span th:text="#{heading.title}"></span>
						</h1>
						<div class="buttons">
							<a onclick="$('#form').submit();" class="button" th:text="#{button.save}">Save</a>
							<a th:href="@{/admin/sale/voucherTheme}" class="button" th:text="#{button.cancel}">Cancel</a>
						</div>
					</div>
					<div class="content">
						<form th:action="@{/admin/sale/voucherTheme/save}" th:object="${voucherThemeForm}" 
							method="post" id="form">
							<input type="hidden" th:field="*{id}" />
							<table class="form">
								<tr>
									<td><span class="required">*</span><span th:utext="#{entry.name}">Customer Group Name:</span></td>
									<td>
										<div th:each="desc, rowStat : *{descs}">
											<input type="hidden" th:name="${'descs['+rowStat.index+'].languageId'}" th:value="${desc.languageId}" />
											<input type="hidden" th:name="${'descs['+rowStat.index+'].languageName'}" th:value="${desc.languageName}" />
											<input type="hidden" th:name="${'descs['+rowStat.index+'].languageImage'}" th:value="${desc.languageImage}" />
											<input type="hidden" th:name="${'descs['+rowStat.index+'].voucherThemeId'}" th:value="${desc.voucherThemeId}" />
											<input type="text" th:name="${'descs['+rowStat.index+'].name'}" th:value="${desc.name}"/>
											<img th:src="@{'/resources/admin/image/flags/'+${desc.languageImage}}" th:title="${desc.languageName}" />
											<span class="error" th:if="${#fields.hasErrors('descs['+rowStat.index+'].name')}" th:text="#{error.name}"></span>
											<br />
										</div>
									</td>
								</tr>
								<tr>
									<td><span th:utext="#{entry.image}">Image:</span></td>
									<td valign="top">
										<div class="image">
											<img th:src="${thumb}" alt="" id="thumb"/>
											<input type="hidden" th:field="*{image}" /><br />
											<a onclick="image_upload('image', 'thumb');" th:text="#{text.browse}">Browse</a>
											&nbsp;&nbsp;|&nbsp;&nbsp;
											<a th:onclick="'$(\'#thumb\').attr(\'src\', \''+${noImg}+'\'); $(\'#image\').attr(\'value\', \'\');'" th:text="#{text.clear}">Clear</a>
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div><!-- .content -->
				</div><!-- .box -->
			</div><!-- #content -->
		</div> <!-- #container -->
		
		<div id="footer" th:include="/admin :: footer"></div>
		
		<script th:inline="javascript">
			/*<![CDATA[ */
			function image_upload(field, thumb) {
				
				var baseUrl = /*[[@{/admin/common/fileManager}]]*/ '';
				var frameUrl = '<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="'+baseUrl+'?field=' + encodeURIComponent(field) + 
					'" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>';
				var dialogHeader = /*[[#{text.imageManager}]]*/'';
				
				$('#dialog').remove();
				$('#content').prepend(frameUrl);
				$('#dialog').dialog({
					title: dialogHeader,
					close: function (event, ui) {
						if (true) {
							$.ajax({
								url: baseUrl+'/image?image=' + encodeURIComponent($('#' + field).val()),
								dataType: 'text',
								success: function(data) {
									$('#' + thumb).replaceWith('<img src="' + data + '" alt="" id="' + thumb + '" />');
								}
							});
						}
					},	
					bgiframe: false,
					width: 800,
					height: 400,
					resizable: false,
					modal: false
				});
			};
			/*]]>*/
		</script>
		
	</body>
</html>