<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="/admin :: header"></head>
	<body>
		<div id="container">
			<div th:include="/admin :: content_top"></div>
			<div id="content">
				<div class="breadcrumb">
					<a th:href="@{/admin/common/home}" th:text="#{text.home}">Home</a> ::
					<a th:href="@{/admin/user/user}" th:text="#{heading.title}">User</a>
				</div>
				<div class="warning" th:if="${msg_warning!=null}" th:text="#{${msg_warning}}"></div>
				<div class="box">
					<div class="heading">
						<h1>
							<img th:src="@{/resources/admin/image/user.png}" alt="" /> 
							<span th:text="#{heading.title}">User</span>
						</h1>
						<div class="buttons">
							<a onclick="$('#form').submit();" class="button" th:text="#{button.save}">Save</a>
							<a th:href="@{/admin/user/user}" class="button" th:text="#{button.cancel}">Cancel</a>
						</div>
					</div>
					<div class="content">
						<form th:action="@{/admin/user/user/save}" th:object="${user}" method="post" id="form">
							<input type="hidden" th:field="*{id}" />
							<table class="form">
								<tr>
									<td><span class="required">*</span><span th:text="#{entry.username}">Username</span></td>
									<td>
										<input type="text" th:field="*{username}" />
										<span class="error" th:if="${#fields.hasErrors('username')}" th:text="#{error.username}"></span>
									</td>
								</tr>
								<tr>
									<td><span class="required">*</span><span th:text="#{entry.firstname}">First Name:</span></td>
									<td>
										<input type="text" th:field="*{firstName}" />
										<span class="error" th:if="${#fields.hasErrors('firstName')}" th:text="#{error.firstname}"></span>
									</td>
								</tr>
								<tr>
									<td><span class="required">*</span><span th:text="#{entry.lastname}">Last Name:</span></td>
									<td>
										<input type="text" th:field="*{lastName}" />
										<span class="error" th:if="${#fields.hasErrors('lastName')}" th:text="#{error.lastname}"></span>
									</td>
								</tr>
								<tr>
									<td><span th:text="#{entry.email}">Email:</span></td>
									<td>
										<input type="text" th:field="*{email}" />
										<span class="error" th:if="${#fields.hasErrors('email')}" th:text="#{error.email}"></span>
									</td>
								</tr>
								<tr>
									<td><span th:text="#{entry.userGroup}">User Group:</span></td>
									<td>
										<select th:field="*{userGroupId}">
											<option th:each="userGroup : ${userGroups}"
												th:value="${userGroup.id}" 
												th:text="${userGroup.name}">
												Administrator
											</option>
										</select>
									</td>
								</tr>
								<tr>
									<td><span th:text="#{entry.password}">Password:</span></td>
									<td>
										<input type="password" th:field="*{password}" />
										<span class="error" th:if="${#fields.hasErrors('password')}" th:text="#{error.password}"></span>
									</td>
								</tr>
								<tr>
									<td><span th:text="#{entry.confirm}">Confirm:</span></td>
									<td>
										<input type="password" th:field="*{confirm}" />
										<span class="error" th:if="${#fields.hasErrors('confirm')}" th:text="#{error.confirm}"></span>
									</td>
								</tr>
								<tr>
									<td><span th:text="#{entry.status}">Status:</span></td>
									<td>
										<select th:field="*{status}">
											<option value="0" th:text="#{text.disabled}">Disabled</option>
											<option value="1" th:text="#{text.enabled}">Enabled</option>
										</select>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div> <!-- container -->
		
		<div id="footer" th:include="/admin :: footer"></div>
		
		</body>
</html>